 <div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Language</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>C, C++, Java, Python, HTML, CSS, <br>Ruby, JavaScript, Raspberry Pi 등 <br>각자 관심사에 따른 다양한 언어 공부 및 사용</p>
    </div>
    <div class="tech">
      <h2>In 2019</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>2019 과학의 날 부스 Ars Ingeniaria 운영<br>
      제 1회 하나고등학교 정보의 날 주최<br>
      웹, 인공지능, 보안 스터디 진행<br>
      </p>
    </div>
    <div class="tech">
      <h2>In 2020</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p> 11기 모집 </p>
    </div>
</div>
