<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="과학의날 활동사진" src="{{ "/assets/img/science_day.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 2019 과학의 날 </h3>
    <ul>
      <li>Alpha-Beta Pruning</li>
      <li>유전 알고리즘</li>
      <li>Makey-Makey (Arduino)</li>
    </ul>
    <p>하나고등학교 과학의 날 부스로 선정되어 Alpha-Beta Pruning을 이용한 오목 인공지능 구현, 유전 알고리즘을 통해 학생들과 캐릭터를 점점 선명하게 그려내 대상 맞히기, 메이키메이키를 이용한 게임 등의 활동을 제공했다.</p>
    <a class="project-link" href="https://haslambda.github.io/blog/2019/05/03/2019-과학의-날-부스-ARS-Ingeniaria.html">Tech Blog에서 더 알아보기</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="정보의날 활동사진" src="{{ "/assets/img/1st_informationday.JPEG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 제 1회 하나고등학교 정보의 날 </h3>
    <ul>
      <li> 4개 동아리 부스 운영 (VR 등)</li>
      <li> 학생, 졸업생, 교수님 강연</li>
      <li> 제 1회 Codegolf 진행 및 시상</li>
    </ul>
    <p>하나고 최초로 개최된 정보의 날 행사. 융, 운, 람다 등 4개 동아리가 부스를 운영하였으며 정보 관련된 주제로 강연을 진행하였다, 또한 직접 제작한 Online Judge사이트를 이용하여 Codegolf를 주최하였다.</p>
    <a class="project-link" href="https://haslambda.github.io/blog/">Tech Blog에서 더 알아보기</a> </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="정보의날 활동사진" src="{{ "/assets/img/3rd_informationday.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 제 3회 하나고등학교 정보의 날 </h3>
    <ul>
      <li> 학생강연, 정보 골든벨, 자작 미니게임 진행</li>
      <li> NAVER D2의 후원 물품 제공 </li>
      <li> 제 3회 Codegolf 진행 및 시상</li>
    </ul>
    <p>2020년 코로나로 인해 부진했던 동아리 활동을 바꿔보고자 Codegolf만 진행되었던 2020년의 2회 정보의 날 행사에서 확장하여 진행한 3회 정보의 날 행사. 정보 관련 지식을 물어보는 정보 골든벨을 진행하여 시상하였고, 자작 미니게임을 비치하여 학생들이 즐길 수 있도록 하였다.</p>
    <a class="project-link" href="https://haslambda.github.io/blog/">Tech Blog에서 더 알아보기</a> </div>
</div>
