<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/information_day.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 2019 과학의 날 </h3>
    <ul>
      <li>Alpha-Beta Pruning</li>
      <li>유전 알고리즘</li>
      <li>Makey-Makey (Arduino)</li>
    </ul>
    <p>하나고등학교 과학의 날 부스로 선정되어 Alpha-Beta Pruning을 이용한 오목 인공지능 구현, 유전 알고리즘을 통해 학생들과 캐릭터를 점점 선명하게 그려내 대상 맞히기, 메이키메이키를 이용한 게임 등........</p>
    <a class="project-link" href="https://haslambda.github.io/blog/">더 알아보기!</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/addedimage.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 제 1회 하나고등학교 정보의 날 </h3>
    <ul>
      <li> 4개 동아리 부스 운영 (VR 등)</li>
      <li> 학생, 졸업생, 교수님 강연</li>
      <li> Codegolf 진행 및 시상</li>
    </ul>
    <p>아아ㅏ아아ㅏ아 설명은 밑에 블로그에ㅎㅎㅎ</p>
    <a class="project-link" href="https://haslambda.github.io/blog/">더 알아보기-!!</a> </div>
</div>
